[submodule "linux"]
	path = linux
	url = https://github.com/bins-dev/linux.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/bins-dev/qemu.git
[submodule "qemu-server"]
	path = qemu-server
	url = https://github.com/bins-dev/qemu-server.git
[submodule "qemu-web"]
	path = qemu-web
	url = https://github.com/bins-dev/qemu-web.git
[submodule "proxmox-datacenter-manager"]
	path = proxmox-datacenter-manager
	url = https://github.com/bins-dev/proxmox-datacenter-manager.git
[submodule "pve-kernel"]
	path = pve-kernel
	url = https://github.com/bins-dev/pve-kernel.git
[submodule "pve-common"]
	path = pve-common
	url = https://github.com/bins-dev/pve-common.git
